@import "../abstracts/mixins";

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-container {
  @include flexCenter(column);
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-view {
  @include flexCenter(column);
  width: inherit;
}
